{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block title %}Affiche une Sortie{% endblock %}



{% block body %}
    <div class="text-center">
    <h1>Afficher une sortie </h1>
    </div>

    {% set participantInscrit = false %}
    {% set etat='ouvert' %}
    {% if sortie.dateHeureDebut|date("Y/m/d H:i") == now|date("Y/m/d H:i") %}
        {% set etat='en cours' %}
    {% elseif sortie.dateHeureDebut|date("Y/m/d H:i") < now|date("Y/m/d H:i") and (sortie.dateHeureDebut |date_modify("+"~sortie.duree~" minutes") | date("Y/m/d H:i") > now|date("Y/m/d H:i")) %}
        {% set etat='en cours' %}
    {% elseif sortie.dateLimiteInscription|date("Y/m/d") == now|date("Y/m/d") %}
        {% set etat='fermé' %}
    {% elseif sortie.dateLimiteInscription|date("Y/m/d") < now|date("Y/m/d") %}
        {% set etat='fermé' %}
    {% elseif sortie.dateLimiteInscription|date("Y/m/d") > now|date("Y/m/d") %}
        {% set etat='ouvert' %}
    {% endif %}
    {% if sortie.etat=="annulé" %}
        {% set etat='annulé' %}
    {% endif %}
    {% if sortie.etat=="en création" %}
        {% set etat='en création' %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Nom de la sortie : {{ sortie.nom }}</th>
                        </tr>
                        <tr>
                            <th scope="row">Date et heure de la sortie : {{  sortie.dateHeureDebut | date('d-m-Y') }}</th>
                        </tr>
                        <tr>
                            <th scope="row">Date limite d'inscription : {{  sortie.dateLimiteInscription | date('d-m-Y') }}</th>
                        </tr>
                        <tr>
                            <th scope="row">Nombre de places :{{  sortie.nbInscriptionsMax}} </th>
                        </tr>
                        <tr>
                            <th scope="row">Duree :{{  sortie.duree}} </th>
                        </tr>
                        <tr>
                            <th scope="row">Description et infos : {{ sortie.infosSortie}} </th>
                        </tr>
                        <tr>
                            {% if etat=='annulé' %}
                            <th scope="row">Motif : {{ sortie.motif}} </th>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="col">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th scope="row">Lieu :{{ sortie.lieu.nom}} </th>
                        </tr>
                        <tr>
                            <th scope="row">Rue : {{ sortie.lieu.rue}}</th>
                        </tr>
                        <tr>
                            <th scope="row">Ville :  {{ sortie.lieu.ville.nom}}</th>
                        </tr>
                            <tr>
                                <th scope="row">Code postal : {{ sortie.lieu.ville.codePostal}} </th>
                            </tr>
                        <tr>
                            <th scope="row">Latitude: {{ sortie.lieu.latitude }}</th>
                        </tr>
                        <tr>
                            <th scope="row">Longitude : {{ sortie.lieu.longitude }}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="d-flex justify-content-around ">
            <div class="form-group">
                <label for="exampleFormControlSelect2"><h4>Liste des participants inscrits : </h4></label>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Nom</th>
                            <th scope="col" class="text-center">Prénom</th>
                            {% for droit in app.user.roles  %}
                                {% if droit == "ROLE_ADMIN" %}
                            <th scope="col" class="text-center">Actions</th>
                                {% endif %}
                            {% endfor %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for inscrit in sortie.inscriptions %}

                            <tr>
                                <td> {{ inscrit.participant.nom }} </td>
                                <td> {{ inscrit.participant.prenom }} </td>
                                {% for droit in app.user.roles  %}
                                    {% if droit == "ROLE_ADMIN" %}
                                <td>
                                    <a href="{{ path('retrait_participant_sortie', {'id' : inscrit.participant.id}) }}"> Suppression de la sortie</a>
                                </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>

                    {% for inscription in app.user.inscriptions %}
                        {% for inscrit in sortie.inscriptions %}
                            {% if inscription == inscrit %}
                                {% set participantInscrit = true %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    {% if  sortie.inscriptions|length== sortie.nbInscriptionsMax and etat == 'ouvert' %}
                    {%  if participantInscrit %}
                        <a href="{{ path('retrait_participant_sortie', {'id' : sortie.id}) }} " class="btn btn-outline-success ">Se désister</a>
                    {% endif %}
                    {% elseif sortie.inscriptions|length<sortie.nbInscriptionsMax and etat == 'ouvert' and sortie.organisateur.username==app.user.userIdentifier %}

                        <a href="{{ path('annuler_sortie', {'id' : sortie.id}) }} " class="btn btn-danger ">Annuler</a>
                    {% elseif sortie.inscriptions|length<sortie.nbInscriptionsMax and etat == 'ouvert' %}
                        {%  if participantInscrit %}
                            <a href="{{ path('retrait_participant_sortie', {'id' : sortie.id}) }} " class="btn btn-outline-success ">Se désister</a>
                        {% else %}
                            <a href="{{ path('ajout_participant_sortie', {'id' : sortie.id}) }} " class="btn btn-outline-success ">S'inscrire</a>
                        {% endif %}

                    {% endif %}


                    <a href="{{ path('home')}} " class="btn btn-secondary ">Retour</a>
                </div>
    </div>

{% endblock %}