{% extends 'base.html.twig' %}

{% block header %}

{% endblock %}

{% block title %}Affiche une Sortie{% endblock %}



{% block body %}
    <div class="text-center">
    <h1>Afficher une sortie </h1>
    </div>
    {% for user in utiliss %}
        <div class="d-flex justify-content-around">
            <div>
                <p>Nom de la sortie : {{ user.nom}} </p>
                <p>Date et heure de la sortie :  </p>
                <p>Date limite d'inscription : </p>
                <p>Nombre de places : </p>
                <p>Durée : </p>
                <p>description et infos : </p>
            </div>
            <div>
                <p>Lieu : </p>
                <p>Rue : </p>
                <p>Ville : </p>
                <p>Code Postale : </p>
                <p>Latitude : </p>
                <p>Longitude : </p>
            </div>
        </div>
    {% endfor %}

        <div class="d-flex justify-content-around">
            <div class="form-group">
                <label for="exampleFormControlSelect2"><h4>Liste des participants inscrits : </h4></label>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Pseudo</th>
                            <th scope="col" class="text-center">Nom</th>
                        </tr>
                        </head>
                        <tbody>
                        {%  for user in utiliss %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.nom }} {{ user.prenom }}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <a href="{{ path('ajout_participant_sortie', {'id' : 1}) }} " class="btn btn-outline-success ">Inscription</a>
                </div>
    </div>

{% endblock %}