{% extends 'base.html.twig' %}

{% form_theme form "bootstrap_5_layout.html.twig" %}

{% block body %}
    {% for message in app.flashes('success') %}
        {% if message %}
            <div class="alert-success">
                <p class="text-center">{{ message }}</p>
            </div>
        {% endif %}
    {% endfor %}

    <br>
    {% if app.user %}
    <p>Date du jour : {{ now|date("d/m/Y") }}</p>
    <p>Participant : {{ app.user.userIdentifier|default('undefined') }}</p>

    {% endif %}
<br>
    <h3>Filtrer les sorties</h3>
<div class="jumbotron" id="cardfilter">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="form-col col-lg-8">
            <p class="form-group col-lg-auto">
                {{ form_row(form.site) }}
            </p>
            <p class="form-group col-lg-auto">
                {{ form_row(form.nom) }}
            </p>
            <p class="form-group col-lg-auto">
              {{ form_row(form.debut) }}
            </p>
            <p class="form-group col-lg-auto">
                {{ form_row(form.fin) }}
            </p>
        </div>
        <div class="form-col col-md-auto blocFiltre">
            <p class="form-group col-md-auto">
            </p>
        </div>
        <div class="form-col col-md-auto blocFiltre">
            <p class="form-group col-md-auto">
            </p>
        </div>
        <div class="form-col col-md-auto blocFiltre">
            <p class="form-group col-md-auto">
            </p>
        </div>
        <div class="form-col col-md-auto blocFiltre">
            <p class="form-group col-md-auto">
                {{ form_row(form.organisateur) }}
            </p>
            <p class="form-group col-md-auto">
                {{ form_row(form.inscrit) }}
            </p>
            <p class="form-group col-md-auto">
                {{ form_row(form.pasInscrit) }}
            </p>
            <p class="form-group col-md-auto">
                {{ form_row(form.sortiePassee) }}
            </p>
        </div>
    </div>
    <br>
{#    {{ form_row(form.submit) }}#}
<button class="btn btn-primary btn-xl bouton">Rechercher</button>
{#    {{ form_widget(form._token) }}#}
    {{ form_end(form) }}

    </div>
<br>
<hr>
    <div>
        <center> <a href="http://localhost/sortirr/public/sortie/creer"  class="btn btn-primary btn-xl bouton">
           Créer une sortie
            </a></center>
    </div>

    <table id="sortieTable" class="table table-striped table-bordered" style="">
        <thead class="thead-dark text-center">
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/Places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
        {% set participantInscrit = false %}
        {% set etat='ouvert' %}
        {% if sortie.dateHeureDebut|date("Y/m/d H:i") == now|date("Y/m/d H:i") %}
             {% set etat='en cours' %}
        {% elseif sortie.dateHeureDebut|date("Y/m/d H:i") < now|date("Y/m/d H:i") and (sortie.dateHeureDebut |date_modify("+"~sortie.duree~" minutes") | date("Y/m/d H:i") > now|date("Y/m/d H:i")) %}
            {% set etat='en cours' %}
       {% elseif sortie.dateLimiteInscription|date("Y/m/d") == now|date("Y/m/d") %}
            {% set etat='fermé' %}
        {% elseif sortie.dateLimiteInscription|date("Y/m/d") < now|date("Y/m/d") %}
            {% set etat='fermé' %}
        {% elseif sortie.dateLimiteInscription|date("Y/m/d") > now|date("Y/m/d") %}
            {% set etat='ouvert' %}
        {% endif %}
        {% if sortie.etat=="annulée" %}
        {% set etat='annulée' %}
        {% endif %}
        {% if sortie.etat=="en création" %}
            {% set etat='en création' %}
        {% endif %}
        {% set dateDebut = sortie.dateHeuredebut|date('Y-m-d') %}
        {% set dateDifference = "now"|date('Y-m-d') %}
        {% set archive = date(dateDifference).diff(date(dateDebut))%}

        {% if app.user.userIdentifier != sortie.organisateur.username and etat=='en création' %}
        {% else %}
        {% if archive.days >= 30 %}
        {% else %}
     {% if app.user.userIdentifier is null %}
         {% else %}
        {% for inscription in app.user.inscriptions %}
            {% for inscriptions in sortie.inscriptions %}
                {% if inscription == inscriptions %}
                    {% set participantInscrit = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% endif %}
        <tr class="text-center">
            <td scope="row">{{ sortie.nom }}</td>
            <td scope="row">le {{ sortie.dateHeureDebut|date("d/m/Y") }} à {{ sortie.dateHeureDebut|date("H:i") }}</td>
            <td scope="row">{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
            <td scope="row">{{ sortie.inscriptions|length }}/{{ sortie.nbInscriptionsMax }}</td>
                <td scope="row">{{ etat }}</td>
                <td scope="row">
                    {% if participantInscrit ==true %}
                        <p>🐼</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </td>
            <td scope="row"><a href="{{ path('detail_utilisateur', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.username }}</a></td>
                <td scope="row">
                   {% if  sortie.inscriptions|length== sortie.nbInscriptionsMax and etat == 'ouvert' %}
                       {%  if participantInscrit %}
                    <a href=""  class="btn btn-primary btn-sm bouton">
                        Afficher
                    </a>
                        <a href="{{ path('retrait_participant_sortie', {'id': sortie.id}) }}"  class="btn btn-primary btn-sm bouton">
                            Se désister
                        </a>
                       {% else %}
                           <a href=""  class="btn btn-primary btn-sm bouton">
                               Afficher
                           </a>
                        {% endif %}
                   {% elseif sortie.organisateur.username==app.user.userIdentifier and etat == 'en création'%}
                       <a href=""  class="btn btn-primary btn-sm bouton">
                           Modifier
                       </a><a>             </a>
                       <a href=""  class="btn btn-primary btn-sm bouton">
                           Publier
                       </a>
                   {% elseif sortie.inscriptions|length<sortie.nbInscriptionsMax and etat == 'ouvert' and sortie.organisateur.username==app.user.userIdentifier %}
                       <a href=""  class="btn btn-primary btn-sm bouton">
                           Afficher
                       </a><a>             </a>
                       <a href=""  class="btn btn-primary btn-sm bouton">
                           Annuler
                       </a>

                    {% elseif sortie.inscriptions|length<sortie.nbInscriptionsMax and etat == 'ouvert' %}
                         {%  if participantInscrit %}
                    <a href=""  class="btn btn-primary btn-sm bouton">
                        Afficher
                    </a><a>             </a>
                    <a href="{{ path('retrait_participant_sortie', {'id': sortie.id}) }}"  class="btn btn-primary btn-sm bouton">
                        Se désister
                    </a>
                        {% else %}
                        <a href=""  class="btn btn-primary btn-sm bouton">
                            Afficher
                        </a><a>             </a>
                        <a href="{{ path('ajout_participant_sortie', {'id': sortie.id}) }}"  class="btn btn-primary btn-sm bouton">
                        S'inscrire
                    </a>
                         {% endif %}



                    {% elseif etat == 'fermé'%}
                    <a href=""  class="btn btn-primary btn-sm bouton">
                        Afficher
                    </a><a>             </a>
                    {% elseif etat == 'en cours'%}
                        <a href=""  class="btn btn-primary btn-sm bouton">
                            Afficher
                        </a><a>             </a>
                    {% elseif etat == 'annulé'%}
                        <a href=""  class="btn btn-primary btn-sm bouton">
                            Afficher
                        </a><a>             </a>
                   {% endif %}
                </td>

               <br>
            {% endif %}
            {% endif %}
            {% else %}
                <p>Aucune sortie trouvée</p>

            {% endfor %}
        </tr>
        </tbody>

    </table>

<br> <br>

{% endblock %}

{% block title %}

{% endblock %}
