{{ form_start(formAnnulerSortie) }}
{{ form_widget(formAnnulerSortie) }}
{#<button type="submit" name="enregistrer" class="btn btn-primary btn-sm">{{ btnRegister}}</button>#}
{#<button type="submit" name="publier" class="btn btn-success btn-sm">{{ btnValider}}</button>#}
<a href="http://localhost/sortirr/public/" type="reset" class="btn btn-danger btn-sm">{{ btnCancel }}</a>

{{ form_end(formAnnulerSortie) }}