{{ form_start(formSortie) }}
{{ form_widget(formSortie) }}
{#<button type="submit" class="btn btn-primary btn-sm">{{ btnRegister}}</button>#}
<button type="submit" class="btn btn-success btn-sm">{{ btnValider}}</button>
<a href="http://localhost/sortirr/public/" type="reset" class="btn btn-danger btn-sm">{{ btnCancel }}</a>

{{ form_end(formSortie) }}